In [15]:
from bs4 import BeautifulSoup
import requests

In [17]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_cities_by_GDP')

In [19]:
soup = BeautifulSoup(page.text,'html')

In [29]:
table = soup.find('table')

In [35]:
table_head = table.find_all('th')

In [43]:
table_head_text = [i.text.strip() for i in table_head]

In [86]:
table_head_text

['City proper/metropolitan area',
 'Country/region',
 'Official est. GDPup to date (billion US$)',
 'Metropolitanpopulation']

In [88]:
table_row = table.find_all('tr')

In [90]:
import pandas as pd

In [92]:
df = pd.DataFrame(columns = table_head_text)

In [94]:
for row in table_row[1:]:
    rows = row.find_all('td')
    individual_row = [i.text.strip() for i in rows]

    length = len(df)
    df.loc[length] = individual_row

In [96]:
df

,City proper/metropolitan area,Country/region,Official est. GDPup to date (billion US$),Metropolitanpopulation
0,A Coruña metropolitan area,Spain,28.819 (2020)[2],"1,121,815 (2020)[3]"
1,Aachen,Germany,24.296 (2020)[2],"249,070 (2021)[4]"
2,Aalborg,Denmark,31.855 (2021)[2],"219,487 (2021)[5]"
3,Aarhus,Denmark,54.927 (2021)[2],"352,751 (2021)[6]"
4,"Abbotsford, British Columbia",Canada,6.239 (2020)[7],"203,907 (2020)[8]"
...,...,...,...,...
898,Zhenjiang,China,61.182 (2020)[25][186],"1,150,000 (2020)[12]"
899,Zhuzhou,China,45.029 (2020)[25],"1,330,000 (2020)[12]"
900,Zibo,China,53.260 (2020)[25][116],"3,525,000 (2020)[12]"
901,Zürich Metropolitan Area,Switzerland,158.913 (2020)[136],"1,430,000 (2020)[12]"
902,Zwolle,Netherlands,17.936 (2020)[2],"129,840 (2021)[425]"

In [122]:
df.to_csv(r'C:\Users\User\cities_by_gdp.csv',index = False)

In [106]:
df

,City proper/metropolitan area,Country/region,Official est. GDPup to date (billion US$),Metropolitanpopulation
0,A Coruña metropolitan area,Spain,28.819 (2020)[2],"1,121,815 (2020)[3]"
1,Aachen,Germany,24.296 (2020)[2],"249,070 (2021)[4]"
2,Aalborg,Denmark,31.855 (2021)[2],"219,487 (2021)[5]"
3,Aarhus,Denmark,54.927 (2021)[2],"352,751 (2021)[6]"
4,"Abbotsford, British Columbia",Canada,6.239 (2020)[7],"203,907 (2020)[8]"
...,...,...,...,...
898,Zhenjiang,China,61.182 (2020)[25][186],"1,150,000 (2020)[12]"
899,Zhuzhou,China,45.029 (2020)[25],"1,330,000 (2020)[12]"
900,Zibo,China,53.260 (2020)[25][116],"3,525,000 (2020)[12]"
901,Zürich Metropolitan Area,Switzerland,158.913 (2020)[136],"1,430,000 (2020)[12]"
902,Zwolle,Netherlands,17.936 (2020)[2],"129,840 (2021)[425]"

In [126]:
dff = pd.read_csv('cities_by_gdp.csv')

In [134]:
dff

,City proper/metropolitan area,Country/region,Official est. GDPup to date (billion US$),Metropolitanpopulation
0,A Coruña metropolitan area,Spain,28.819 (2020)[2],"1,121,815 (2020)[3]"
1,Aachen,Germany,24.296 (2020)[2],"249,070 (2021)[4]"
2,Aalborg,Denmark,31.855 (2021)[2],"219,487 (2021)[5]"
3,Aarhus,Denmark,54.927 (2021)[2],"352,751 (2021)[6]"
4,"Abbotsford, British Columbia",Canada,6.239 (2020)[7],"203,907 (2020)[8]"
...,...,...,...,...
898,Zhenjiang,China,61.182 (2020)[25][186],"1,150,000 (2020)[12]"
899,Zhuzhou,China,45.029 (2020)[25],"1,330,000 (2020)[12]"
900,Zibo,China,53.260 (2020)[25][116],"3,525,000 (2020)[12]"
901,Zürich Metropolitan Area,Switzerland,158.913 (2020)[136],"1,430,000 (2020)[12]"
902,Zwolle,Netherlands,17.936 (2020)[2],"129,840 (2021)[425]"